footer {
    color: white;
    display: flex;               /* Enable flexbox layout */
    flex-direction: column;       /* Center children vertically in the footer */
    align-items: center;  
    margin: -20px;
    background-color: #0A142F;
}
#foot-box {
    padding: 5.5vw;
    display: flex;    
    align-items: center;  
    justify-content: space-between;
}
#foot-box > * {
    padding: 0 6vw;
}
#trademark {
    display: flex;    
    align-items: center;  
    justify-content: space-between;
}
#trademark > img {
    padding: 0 2vw;
    width: 8vw;
}

#foot-box ul {
    list-style-type: none;
    width: max-content;
}
#foot-box ul li{
    padding: 1.5vh;
}

#contact {
    padding-right: 0vh !important;
}
#contact > *{
    padding: 2vh;
    margin-top: 2vh ;
    margin-bottom: 2vh ;
}


.contact-container {
    display: flex;
    align-items: center;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2); 
    position: relative;
}
  
.updates {
    border: none;
    background: transparent;
    outline: none;
    flex-grow: 1;
    padding-right: 30px; 
    font-size: 12px;
}
  
.action-buttion {
    position: absolute;
    right: 0px;
    font-size: 16px;
    padding: 11px ;
    border-radius: 0 10px 10px 0;
    background-color:#0011ff;
}


#socials {
    display: flex;
}

#socials > img{
    padding: 0 0.5vw;
    width: 2vw;
}


#foot-box > * {
    padding: 0 6vw;
}
#foot-box > div > img {
    padding: 0 2vw;
    width: 8vw;
}


#copyright {
    width: 60vw;
    padding: 2vh;
    text-align: center;
    border-top: #ffffff solid 1.2px;
}