.nav {
    position: fixed;
    left: 0;
    top: 8vh;
    width: 15vw;
    height: 92%;
    border-right: #b0b0b0 solid 2px;
    display: flex;
    justify-content: center;
}
.nav > ul {
    list-style: none;
}
.nav > ul li {
    padding: 20px;
    display: flex;
    align-items: center;  
    font-weight: bold;  
}
.nav > ul li img{
    padding: 2px;
    width: 2vw;
}
#tecora-page {
    color: #F05454;
}