* {
    margin: 0;
}
body {
    background-color: #EAF4F4;
}

.main {
    margin-top: 8vh;
    margin-left: 15vw; 
    width: 84vw;    
    position: relative;     
    padding: 20px;
    box-sizing: border-box;
}

.main-logo {
    padding: 60px;
    float: inline-end;
    /* margin-top: -30vh; */
}

.description {
    padding: 8vh;
}

.description > *{
    padding: 3vh;
}

.caption {
    font-weight: bold;
    text-align: left;
    background: linear-gradient(to right, #4EE8F2, #0062ff, #0011ff);
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
} 
h1 {
    font-weight: lighter;
    font-size: large;
    text-align: center;
} 
.des2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.des2 > img{
    width: 25vw;
}
#para2 {
    width: 30vw;
    text-align: justify;
}
.des3 > div {
    display: flex;
    justify-content: center;
}
.des3 > div > *{
    padding: 2vw;
}
.team {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.team > img {
    border-left: grey solid 1.2px;
    
}